name: Build

on:
  push:
    branches:
      - 'main'
  pull_request: {}
  # allow manual execution just in case
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 60

    permissions:
      # Cf. https://github.com/marketplace/actions/publish-test-results#permissions
      checks: write
      pull-requests: write
      # For detekt
      security-events: write

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 11 for x64
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          architecture: x64

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew --build-cache build -PciBuild=true --stacktrace


